<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            background-color: aqua; font-family: "Baskerville Old Face";color: black;margin: 100px
        }
        h1{
            font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;
        }
    </style>
</head>
<body>
<% include nav.ejs%>
<h1> Welcome to the website <%=person%></h1>
<p>  <%=data.age%>
</p>
<p>  <%=data.name%>
</p>
<p> pujitha here</p>
<p> hobbies</p>
<ul>
    <% data.hobbies.forEach(function(item){%>
        <li><%=item %></li>
  <%});%>
</ul>
</body>
</html>